# Directorios específicos de Parcel
.cache
dist
.cache-loader

# Archivos generados por Parcel
*.parcel-cache
*.parcel-cache-lock

# Node.js
node_modules

# Archivos de respaldo
*.bak
*~

# Archivos de configuración local
.env

# Archivos de registro
*.log
npm-debug.log*


# Archivos de dependencias o paquetes
package-lock.json
